$border-color: #121212
$border-light-color: #d3d3d3
$button-color: #24a0ed
$button-action-color: #29727c
$button-action-color-hover: #3aa3b1
$button-color-hover: #0ba6ff
$text-color: #121212
$text-color-light: white
$red-color: #ff3333
$red-color-rgba: rgba(255, 51, 51, 75%)
$red-border-color: #ff0000
