#root
    .heading-wrapper
        display: flex
        align-items: center
        justify-content: space-between

    .form-wrapper
        margin-top: 1rem

        form
            display: flex
            align-items: center
            justify-content: start
            gap: 10px
