* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
}

:root {
  --border-color: #232b2b;
  --bg-color: #f2f2f2;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
