.input {
  all: unset;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: var(--form-padding);
  width: 160px;
  margin-right: 10px;
  background-color: var(--inputs);
  box-sizing: border-box;
}

.input:focus-visible {
  border: 2px solid var(--button-color);
  outline: none;
}

.input-width--xl {
  width: 17dvw;
}
